<div class="comment">
    {{#each this}}
<div class="cards">

<h3 class="card-title"></h3>        
    <section class="comment-body">
<div class="card-text">
    {{comment_text}}
    </div>

    <div class="add-comment">
    {{user.username}} on {{format_date created_at}}
</div>

    </section>
 <div   
    {{/each}}
</div>