<div class="cards">
    <h3 class="banner">Login</h3>
    <form id="login-form" class="comment-body">
        <label class="label" for="username-login">Username</label>
        <input type="text" class="comment-input" id="username-login"/>
</div>
<div>
    <label for="password-login">Password</label>
    <input type="password" class="comment-input" id="password-login"/>
</div>
<div>
    <button type="submit" class="button">Login!</button>
    <a class="login-now" href="/signup">Signup</a>
</div>
    </form>
</div>

<script src="/javascript/login.js"></script>