<div class="cards">
<h3 class="banner">Create New Post</h3>

<form class="comment-body new-post" id="new-post">
<label for="title" class="label">Title</label>
<input type="text" id="title" name="title" class="comment-input"/>

<label class="label" for="content">Content</label>
<input id="content" name="content" class="comment-input"/>

<button type="submit" class="button">Publish</button>

</form>
</div>

<script src="/javascript/new.js"></script>