<div class="cards">
    <h3 class="banner">Sign Up</h3>
    <form id="signup-form" class="comment-body">
    <label class="label" for="username_signup">Username</label>
    <input id="username_signup" type="text" class="comment-input"/>

    <label class="label" for="password_signup">Password</label>
    <input id="password_signup" type="password" class="comment-input"/>

<button type="submit" class="button">Signup Here</button>
<a class="login-now" href="/login">Login</a>

</form>
</div>

<script src="/javascript/signup.js"></script>